<?xml version="1.0"?>
<rss version="2.0" xmlns:media="http://search.yahoo.com/mrss/" xmlns:<%= @provider %>="http://atomizer/feed?show=https://www.funimation.com/shows/mushoku-tensei-jobless-reincarnation">
 <channel>
  <title>That Time I Got Reincarnated as a Slime Episodes</title>
  <link>http://www.<%= @provider %>.com/syndication/feed?type=episodes&amp;group_id=277041</link>
  <description>Corporate worker Mikami Satoru is stabbed by a random killer, and is reborn to an alternate world. But he turns out to be reborn a slime! &#13;
Thrown into this new world with the name Rimuru, he begins his quest to create a world that’s welcoming to all races.</description>
  <image>
   <url>https://img1.ak.<%= @provider %>.com/i/spire3/eca84092a058ebf63e77af2142d76a0c1610491106_full.jpg</url>
   <link>http://www.<%= @provider %>.com/syndication/feed?type=episodes&amp;group_id=277041</link>
   <title>That Time I Got Reincarnated as a Slime</title>
  </image>
  <ttl>60</ttl>
  <rating>(PICS-1.1 &quot;http://www.classify.org/safesurf/&quot; l r (SS~~000 1))</rating>
  <language>en-us</language>
  <copyright>Copyright © 2021 Ellation Inc. All rights reserved.</copyright>
  <%= for item <- @items do %>
    <item>
      <title>Episode <%= item.number %> - <%= item.title %></title>
      <link>http://www.<%= @provider %>.com/that-time-i-got-reincarnated-as-a-slime/episode-28-the-scheming-kingdom-of-falmuth-801476</link>
      <guid isPermalink="true">http://www.<%= @provider %>.com/media-801476</guid>
      <description>&lt;img src=&quot;https://img1.ak.<%= @provider %>.com/i/spire2-tmb/3a0100406b95fe2c07a8b09969d921ca1612243937_thumb.jpg&quot;  /&gt;&lt;br /&gt;</description>
      <enclosure url="https://img1.ak.<%= @provider %>.com/i/spire2-tmb/3a0100406b95fe2c07a8b09969d921ca1612243937_thumb.jpg" type="image/jpeg" length="8364"/>
      <category>Anime</category>
      <media:category scheme="http://gdata.youtube.com/schemas/2007/categories.cat" label="Anime">Movies_Anime_animation</media:category>
      <<%= @provider %>:mediaId>801476</<%= @provider %>:mediaId>
      <pubDate>Tue, 02 Feb 2021 16:00:00 GMT</pubDate>
      <<%= @provider %>:freePubDate>Tue, 09 Feb 2021 16:00:00 GMT</<%= @provider %>:freePubDate>
      <<%= @provider %>:premiumPubDate>Tue, 02 Feb 2021 16:00:00 GMT</<%= @provider %>:premiumPubDate>
      <<%= @provider %>:endPubDate>Mon, 30 Nov 9998 08:00:00 GMT</<%= @provider %>:endPubDate>
      <<%= @provider %>:premiumEndPubDate>Mon, 30 Nov 9998 08:00:00 GMT</<%= @provider %>:premiumEndPubDate>
      <<%= @provider %>:freeEndPubDate>Mon, 30 Nov 9998 08:00:00 GMT</<%= @provider %>:freeEndPubDate>
      <<%= @provider %>:seriesTitle>That Time I Got Reincarnated as a Slime</<%= @provider %>:seriesTitle>
      <<%= @provider %>:episodeTitle>The Scheming Kingdom of Falmuth</<%= @provider %>:episodeTitle>
      <<%= @provider %>:episodeNumber>28</<%= @provider %>:episodeNumber>
      <<%= @provider %>:duration>1421</<%= @provider %>:duration>
      <<%= @provider %>:publisher>Kodansha Ltd.</<%= @provider %>:publisher>
      <<%= @provider %>:season>2</<%= @provider %>:season>
      <<%= @provider %>:subtitleLanguages>en - us,es - la,es - es,fr - fr,pt - br,ar - me,it - it,de - de,ru - ru</<%= @provider %>:subtitleLanguages>
      <media:content type="video/mp4" medium="video" duration="1421"/>
      <media:player width="" height="">&lt;iframe src=&quot;https://www.<%= @provider %>.com/affiliate_iframeplayer?media_id=801476&amp;video_format=0&amp;video_quality=0&amp;auto_play=0&quot; width=&quot;0&quot; height=&quot;0&quot; allowfullscreen allow=&quot;encrypted-media&quot;&gt;&lt;/iframe&gt;</media:player>
      <media:restriction relationship="allow" type="country">ax al dz as ad ao ai aq ag ar am aw au at az bs bh bb by be bz bj bm bo bq ba bw bv br bg bf bi cm ca cv ky cf td cl cx cc co km cg cd cr ci hr cu cw cy cz dk dj dm do ec eg sv gq er ee et fk fo fi fr gf tf ga gm ge de gh gi gr gl gd gp gu gt gg gn gw gy ht hm va hn hu is ir iq ie im il it jm je jo ke kw lv lb ls lr ly li lt lu mk mg mw ml mt mq mr yt mx md mc me ms ma mz na nl an nz ni ne ng nf mp no om ps pa py pe pl pt pr qa re ro ru rw bl sh kn lc mf pm vc sm st sa sn rs sc sl sx sk si so za gs ss es sd sr sj sz se ch sy tz tg tt tn tr tc ug ua ae gb us um uy ve vg vi eh ye zm zw</media:restriction>
      <media:credit role="distribution company">Ellation Inc.</media:credit>
      <media:rating scheme="urn:simple">nonadult</media:rating>
      <media:thumbnail url="https://img1.ak.<%= @provider %>.com/i/spire2-tmb/3a0100406b95fe2c07a8b09969d921ca1612243937_full.jpg" width="640" height="360"/>
      <media:thumbnail url="https://img1.ak.<%= @provider %>.com/i/spire2-tmb/3a0100406b95fe2c07a8b09969d921ca1612243937_large.jpg" width="200" height="112"/>
      <media:thumbnail url="https://img1.ak.<%= @provider %>.com/i/spire2-tmb/3a0100406b95fe2c07a8b09969d921ca1612243937_thumb.jpg" width="160" height="90"/>
      <media:thumbnail url="https://img1.ak.<%= @provider %>.com/i/spire2-tmb/3a0100406b95fe2c07a8b09969d921ca1612243937_medium.jpg" width="100" height="56"/>
      <media:thumbnail url="https://img1.ak.<%= @provider %>.com/i/spire2-tmb/3a0100406b95fe2c07a8b09969d921ca1612243937_small.jpg" width="50" height="28"/>
      <media:keywords>that time i got reincarnated as a slime season 2, fantasy, action, adventure, isekai, slice of life, atsushi nakayama, kazuyuki fudeyasu, light novel, fuse, 2018, 2019, tensura, tensei shitara slime datta ken, adult protagonist, reincarnation, monster protagonist, deutsche synchro, fantasy, action, adventure, isekai, slice of life, atsushi nakayama, kazuyuki fudeyasu, light novel, fuse, 2018, 2019, tensura, tensei shitara slime datta ken, adult protagonist, reincarnation, monster protagonist, deutsche synchro</media:keywords>
      <<%= @provider %>:modifiedDate>Thu, 04 Feb 2021 23:04:30 GMT</<%= @provider %>:modifiedDate>
    </item>
  <% end %>
 </channel>
</rss>
